package ${package};

import java.util.Map;
import com.atomic.enums.Data;
import com.atomic.BaseTestCase;
import org.testng.annotations.Test;
import ${applicationClassName};
import org.springframework.boot.test.context.SpringBootTest;

import ${servicePackage};

@SpringBootTest(classes = ${springBootApplicationMainClass}.class)
public class ${clazz} extends BaseTestCase<${service}> {

    @Override
    public void beforeTest(Map<String, Object> context) {

    }

    /**
    * moke录制标签,加入了之后,会自动录制mybatis执行情况,之后可以改为replay模式会重放
    * @Mode(TestMethodMode.REC)
    * @AutoAssert( checkMode = CheckMode.REC)注解实现智能化断言录制
    * @AutoAssert( checkMode = CheckMode.REPLAY)注解实现智能化断言回放
    * @AutoTest( autoTestMode = AutoTestMode.XXXXX)注解实现自动化测试
    * @Test( dataProvider = Data.SINGLE(测试用例串行执行),Data.PARALLEL(测试用例并行执行))
    */
    @Test(dataProvider = Data.SINGLE,enabled = false)
    public void testCase(Map<String, Object> context, Object result) {

    }
}
